#background{
    background-image: url("/images/BG%20E.jpg");

    padding-bottom: 10%;
    padding-top: 1%;
    background-size: cover;
    background-size: cover;
     background-repeat:no-repeat;
}

#background h1,h3{
    text-align: center;
    font-family: ;
}
#background img.image{
    margin-left: auto;
    margin-right: auto'
}


#about{
    padding-bottom: 50px;
    
    color:black;
    
}
/*
.wrapper{
    
    bottom: 0;
    right: auto;
    width: auto
    width: 300px;
    text-align: right;
}
*/

.marque {
    bottom: 0;
    font-family: cursive;
    width: 300px;
     font-size: 50px;
    color: white;
    white-space: nowrap;
    -webkit-animation: rightThenLeft 8s linear;
}
.marquee {
    bottom: 0;
    font-family: cursive;
    width: 300px;
     font-size: 50px;
    color: white;
    white-space: nowrap;
    -webkit-animation: leftThenRight 4s linear;
}


.me{
     display: block;
    margin-left: auto;
    margin-right: auto 
}
.photo{
margin-left: auto;
    margin-right: auto;
}
#resume{
/*     background-image: url("/images/gren.jpg");*/
    background-color:azure;
    color: black;
    padding-top: 40px;
    padding-bottom: 50px;
        
}
.res{
    text-align:center;
    padding-bottom: 0px;
    
}
.portfolio{
    background-color: lightgrey;
    background-size: cover;
    
}



.portfolio h5
{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.portfolio h6 {
    text-align: center;
    margin-bottom: 45px;
}

.portfolio hr
{
    width: 40px;
    margin-bottom: 45px;
}

/*
.portfolio .portfolio-holder
{
    clear: both;
    text-align: center;
}
*/

.materialboxed
{
    width: 109%;
    height: 120%;
    
        padding: 20px

}

